@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-primary: #8314ff;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 1.5rem;
  font-weight: 800;
}
h2 {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(70, 69, 69);
}
p {
  font-size: 0.9rem;
  color: rgb(85, 84, 84);
}
.pc {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.main {
  background: rgb(235, 235, 235);
}
.chart {
  height: 3rem;
}
.desc {
  font-size: 1.1rem;
  line-height: 1.6;
}
.link::after {
  position: absolute;
  content: "";
  width: 180%;
  height: 0.3rem;
  background: var(--color-primary);
  bottom: -1rem;
  left: -1rem;
}
.text-gradient {
  background: linear-gradient(to right, purple, blue, rgba(255, 0, 0, 0.4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  width: 100%;
}
